body {
  background-color: #292135;
  font-family: "Inter", "Courier New";
  letter-spacing: 120%;
}

.card,
.cstm-nav,
.cstm-listgrp {
  background-color: #655b70;
  color: #d4cbe1;
  border: 0px;
}

.subtitle {
  color: #a09aab;
}

.cstm-listgrp:nth-child(odd) {
  background-color: #7c6f89;
}

.search {
  background-color: #d4cbe1;
}

.button-bright {
  background-color: #936cc9;
  border: 0px;
}

.button-bright:hover {
  background-color: #a47ae0;
}

.button-dark {
  background-color: #413b49;
  border: 0px;
  color: #a09aab;
}

.button-dark:hover {
  background-color: #4b4554;
  color: #a09aab;
}

.navlink {
  color: #d4cbe1;
}

.navlink-active {
  color: #ede3fb;
}
