body {
  background-color: #292135;
  font-family: "Inter", "Courier New";
  letter-spacing: 120%;
}

.card,
.cstm-nav,
.cstm-listgrp {
  background-color: #655b70;
  color: #d4cbe1;
  border: 0px;
}

.subtitle {
  color: #a09aab;
  font-size: medium;
}

.cstm-listgrp:nth-child(odd) {
  background-color: #7c6f89;
}

.shorten {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search,
.input-box {
  background-color: #d4cbe1;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
}

.search:focus,
.search:active,
.input-box:focus,
.input-box:active {
  background-color: #e8dff7;
  border: 2px solid #936cc9;
  outline: none;
}

.button-bright {
  background-color: #936cc9;
  border: 0px;
}

.button-bright:hover {
  background-color: #a47ae0;
}

.button-bright:active,
.button-bright.active {
  background-color: #936cc9 !important;
  border-color: #936cc9 !important;
}

.button-dark {
  background-color: #413b49;
  border: 0px;
  color: #a09aab;
}

.button-dark:hover {
  background-color: #4b4554;
  color: #a09aab;
}

.button-dark:active,
.button-dark.active {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

.btn:focus {
  box-shadow: none;
}

.button-bright:focus,
.button-dark:focus {
  outline: none;
}

.navlink {
  color: #d4cbe1;
}

.navlink-active {
  color: #ede3fb;
}

img {
  -webkit-filter: grayscale(18%); /* Safari 6.0 - 9.0 */
  filter: grayscale(18%);
  transition: filter 0.3s ease-in-out;
}

.card:hover img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.country-info {
  color: #d4cbe1;
}
